// put your custom CSS here!

@use "./base.scss";
@use "./variables.scss" as *;

blockquote[data-callout="bug"] {
  display: none;
}


/** Make code blocks wrap in preview mode too */
code {
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}